<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stable Diffusion Demo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .loader {
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 8px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <script>
        function generateImg2Img(imagePath) {
            document.getElementById('loadingOverlay').style.display = 'flex';
            const promptValue = document.getElementById('refine_prompt').value;

            fetch('/img2img', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    image_path: imagePath,
                    prompt: promptValue
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text(); 
            })
            .then(html => {
                document.open();
                document.write(html);
                document.close();
            })
            .catch(error => {
                console.error('Error:', error);
            })
            .finally(() => {
                document.getElementById('loadingOverlay').style.display = 'none';
            });
        }

        function handleSubmit(event) {
            event.preventDefault();
            document.getElementById('loadingOverlay').style.display = 'flex';

            const formData = new FormData(document.getElementById('imageForm'));
            data = Object.fromEntries(formData.entries());

            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                document.open();
                document.write(html);
                document.close();
            })
            .catch(error => {
                console.error('Error:', error);
            })
            .finally(() => {
                document.getElementById('loadingOverlay').style.display = 'none';
            });

            return false;
        }

        function handleSearchSubmit(event) {
            event.preventDefault();
            document.getElementById('loadingOverlay').style.display = 'flex';

            const formData = new FormData(document.getElementById('searchForm'));
            data = Object.fromEntries(formData.entries());

            fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                document.open();
                document.write(html);
                document.close();
            })
            .catch(error => {
                console.error('Error:', error);
            })
            .finally(() => {
                document.getElementById('loadingOverlay').style.display = 'none';
            });

            return false;
        }
    </script>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h1 style="cursor: pointer;" onclick="location.href='/'">K-Contents 이미지 생성기</h1>
                    </div>
                    <div class="card-body">
                        <form id="imageForm" onsubmit="return handleSubmit(event);">
                            <div class="form-group">
                                <label for="prompt">프롬프트:</label>
                                <input type="text" id="prompt" name="prompt" class="form-control" placeholder="프롬프트를 입력하세요" required>
                            </div>
                            <div class="form-group">
                                <label for="lora">LoRA Weight 선택:</label>
                                <div class="form-check">
                                    {% for lora in lora_weights %}
                                        <input class="form-check-input" type="radio" id="{{ lora }}" name="lora" value="{{ lora }}" {% if loop.index == 1 %}checked{% endif %}>
                                        <label class="form-check-label" for="{{ lora }}">{{ lora }}</label><br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="number_of_images">생성할 이미지 개수:</label>
                                <input type="number" id="number_of_images" name="number_of_images" class="form-control" min="1" max="10" value="1" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">이미지 생성</button>
                        </form>
                    </div>
                </div>
                <div class="container mt-4">    
                    <div class="card">
                        <div class="card-body text-center">
                            {% if images %}
                                <div class="form-group">
                                    <label for="prompt">프롬프트:</label>
                                    <input type="text" id="refine_prompt" name="refine_prompt" class="form-control" placeholder="프롬프트를 입력하세요" value="{{ default_value }}" required>
                                </div>
                                <h2>생성된 이미지:</h2>
                                <div class="row">
                                    {% for image in images %}
                                        <div class="col-md-4 mt-3">
                                            <img src="{{ image }}" alt="Generated Image" class="img-fluid" style="max-height: 300px; object-fit: cover; cursor: pointer;" onclick="generateImg2Img('{{ image }}')">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h1>유사 프롬프트 검색기</h1>
                    </div>
                    <div class="card-body">
                        <form id="searchForm" onsubmit="return handleSearchSubmit(event);">
                            <div class="form-group">
                                <label for="prompt">프롬프트:</label>
                                <input type="text" id="search_prompt" name="search_prompt" class="form-control" placeholder="프롬프트를 입력하세요" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">이미지 검색</button>
                        </form>
                    </div>
                </div>
                <div class="container mt-4">    
                    <div class="card">
                        <div class="card-body text-center">
                            {% if search_images %}
                                <div class="form-group">
                                    <label for="prompt">프롬프트:</label>
                                    <input type="text" id="refine_prompt" name="refine_prompt" class="form-control" placeholder="프롬프트를 입력하세요" value="{{ default_value }}" required>
                                </div>
                                <h2>검색된 이미지:</h2>
                                <div class="row">
                                    {% for image, description in search_images %}
                                        <div class="col-md-4 mt-3">
                                            <img src="{{ image }}" alt="Generated Image" class="img-fluid" style="max-height: 300px; object-fit: cover; cursor: pointer;" onclick="generateImg2Img('{{ image }}')">
                                            <div class="ml-3">
                                                <p class="font-weight-bold">{{ description }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-overlay" id="loadingOverlay" style="display: none;">
        <div class="loader"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>